// main button style

a.main-button {
     text-decoration: none;
     font-family: 'Droid Sans', sans-serif;
     font-size: 15px;
     font-weight: bold;
     color: $secondary-font-color;
     border-radius: 25px;
     background-color: $main-color;
     padding: 10px 20px;
     margin: 30px 0 150px 0;
     display: inline-block;
}

a.main-button:hover {
     text-decoration: none;
     color: $secondary-font-color;
     transition: 0.5s;
     cursor: pointer;
     opacity: 0.8;
}

//header button and founder

#menu-social li:last-child a {
     text-decoration: none;
     font-family: 'Droid Sans', sans-serif;
     font-size: 15px;
     font-weight: bold;
     color: $main-color;
     border-radius: 25px;
     background-color: $secondary-font-color;
     padding: 10px 20px;
     display: inline-block;
}

a.learn-more-button {
     text-decoration: none;
     font-family: 'Droid Sans', sans-serif;
     font-size: 15px;
     font-weight: bold;
     color: $main-color;
     border-radius: 25px;
     background-color: $secondary-font-color;
     padding: 10px 20px;
     display: inline-block;
}

#menu-social li:last-child {
     a:hover {
          color: $main-font-color;
          transition: 0.5s;
          cursor: pointer;
          opacity: 0.8;
     }
}

a.learn-more-button:hover {
     color: $main-font-color;
     transition: 0.5s;
     cursor: pointer;
     opacity: 0.8;
}

a.button {
     background-color: $main-color;
     color: $secondary-font-color;
     display: inline-block;
     padding: 5px 10px;
}

.button:hover {
     opacity: 0.8;
}

.button .fa {
     margin: 0 auto;
     padding: 0;
}

.main-button-purshcase {
     text-decoration: none;
     font-family: 'Droid Sans', sans-serif;
     font-size: 15px;
     font-weight: bold;
     color: $secondary-font-color;
     border-radius: 25px;
     background-color: $main-color;
     padding: 10px 20px;
     margin-top: 30px;
     display: inline-block;
     &:hover {
          color: $main-font-color;
          transition: 0.5s;
          cursor: pointer;
          opacity: 0.8;
     }
}