.download-content {
     background-size: cover;
}

.download-head {
     color: $secondary-font-color;
     font-size: 25px;
}

.download-subhead {
     color: $secondary-font-color;
     font-size: 16px;
}

.app-item:hover {
     transition: 0.5s;
     opacity: 0.5;
}